@page
@model BankEmployment.Web.Pages.Employee.EditModel
@{
}

<form asp-page-handler="Post">
    <table id="TableEmployees"  style="width: 100%; border: 1px solid black">
        <tr>
            <th>Id</th>
            <th>EmployeeCode</th>
            <th>FirstName</th>
            <th>Lname</th>
            <th>Address</th>
            <th>BirthDate</th>
        </tr>
        <tr>
            @if (Model.Employee != null)
            {
                <td>@Model.Employee.Id </td>
                <td>@Model.Employee.EmployeeCode </td>
                <td> <input name="FirstNameBox" type="text" value="@Model.Employee.FirstName"/> </td>
                <td>@Model.Employee.LastName </td>
                <td>@Model.Employee.Address </td>
                <td>@Model.Employee.BirthDate </td>
            }
        </tr>
    </table>
    <hr/>
    <button type="submit">Update</button>
</form>
