@page
@using BankEmployment.Domain.Entities
@model BankEmployment.Web.Pages.Employee.EmployeesListModel
@{
}

<form asp-page-handler="Post">
    <table id="TableEmployees"  style="width: 100%; border: 1px solid black">
        <tr>
            <th>Id</th>
            <th>EmployeeCode</th>
            <th>FirstName</th>
            <th>Lname</th>
            <th>Address</th>
            <th>BirthDate</th>
        </tr>
        @foreach (var t in @Model.Employees)
        {
            <tr>
                <td>@t.Id </td>
                <td>@t.EmployeeCode </td>
                <td>@t.FirstName </td>
                <td>@t.LastName </td>
                <td>@t.Address </td>
                <td>@t.BirthDate </td>
            </tr>
        }
    </table>
    <hr/>
    <button type="submit">Delete first employee</button>
    <br/>
    <label>@Model.Message</label>
</form>
